@tailwind base;
@tailwind components;
@tailwind utilities;


{{/* HEADER */}}


.base__color {
    color: #31871E;    
}

.header__user__info:hover .login__button {
    background-color: white;
    transition: all .5s ease-in-out;
}

.header__user__info:hover .login__title {
    color: #53D260;
    transition: all .5s ease-in-out;
}

.login__icon {
    color: white!important;
}

.header__user__info:hover .login__icon {
    color: #53D260!important;
    transition: all .5s ease-in-out;
}

.menu__items::after {
    content: "";
    width: 0;
    height: 3px!important;
    background-color: #53D260;
    display: block;
    transition: all .5s;
}

.menu__items:hover::after {

    width: 100%!important;
    transition: all .5s;
}

{{/* END HEADER  */}}

.bg__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.53);
    z-index: 997;

}

.section__sidebar {

    max-height: 100vh;
    position: sticky;
    top: 16px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.slick-prev:before{
    color: #53D260!important;
    font-size: 30px!important;
}

.slick-prev {
    left: -32px!important;
}

.slick-next:before {
    color: #53D260!important;
    font-size: 30px!important;
}

.slick-next {
    right: -30px!important;
}

.slick-slide {
  padding: 0 5px;
}

.slick-list {
  margin: 0 2em;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 9999;
  opacity: 1;
  animation: fadeOutBackground 6s ease forwards; /* Thời gian 6s có thể tùy chỉnh */
}

@keyframes fadeOutBackground {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.5;
  }

  85% {
    opacity: 0.3;
  
  }

  95% {
    opacity: 0.2;
  }

  96% {
    opacity: 0.15;
  
  }

  97% {
    opacity: 0.1;
  
  }

  98% {
    opacity: 0.05;
  }


  100% {
    opacity: 0;
  }
}

.loading-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg__layout__prod {

    top: -105%;
    transition: all .2s linear;
    overflow: hidden;

}

.cart__function {
    top : 120%;
    overflow: hidden;
    transition: all .2s linear;
}

.product__item:hover .bg__layout__prod {
    top: 0;
    transition: all .5s linear;
}

.product__item:hover .cart__function {

    top: 40%;
    transition: all .5s linear;
}

.all__products__list {
    scrollbar-width: none;
}

.ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select {
    width: 150px!important;
    height: 150px!important;
}    